/*!
 * Social.iz (v1.0 tech-preview)
 * (C) Copyright 2017-2017, Social.iz
 * Authors: Christian, Stian
 * Do not use or redistrubute any code without written permission
 */
/****************************************************
 * CSS
 ***************************************************/
img.lightbox:hover {
  cursor: pointer;
}
.padding-right {
  padding-right: 10px;
}
.newsfeed-grid {
  margin: 0px 15px;
}
.newsfeed-post {
  background: #eeeeee;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.newsfeed-post:not(:first-of-type) {
  margin: 15px 0;
}
.media.author {
  padding-bottom: 1em;
}
#postText {
  resize: none;
}
#postBtn {
  margin-top: 10px;
}
