/*@light-base:              #fff;
@light-darker:            darken(@light-base, 13.5%); // #222
@light-dark:              darken(@light-base, 20%);   // #333
@light:                   darken(@light-base, 33.5%); // #555
@light-light:             darken(@light-base, 46.7%); // #777
@light-lighter:           darken(@light-base, 93.5%); // #eee*/
